---
import Education from "./Education.astro"
const Educations: Education[] = [
    {school: "Windesheim", location: "Zwolle", course: "Bachelor of Science - HBO-ICT Software Engineer", start: "Sep. 2013", end: "Jun. 2018"},
    {school: "Emelwerda", location: "Emmeloord", course: "Natuur en Techniek", start: "Sep. 2018", end: "Mar. 2024"}
]
---

<section>
    <h3>EDUCATION</h3>
    <hr>
    <div>
        {Educations.map((education) => (
            <Education school={education.school} location={education.location} course={education.course} start={education.start} end={education.end}/>
        ))}
    </div>
</section>

