---
import Experience from "./Experience.astro"

const experiences: Experience[] = [
    { title: "Software Engineer", place: "SpringTree B.V.", type: "Intern", start: new Date(2023, 2), end: new Date(2023, 8)},
    { title: "Software Engineer", place: "Van Brug Software", type: "Intern", start: new Date(2022, 8), end: new Date(2023, 1)},
    { title: "Data Engineer", place: "Municipality of Zwolle", type: "Intern", start: new Date(2022, 3), end: new Date(2022, 5)},
    { title: "App Developer", place: "Blindsight Mobility", type: "Intern", start: new Date(2021, 8), end: new Date(2022, 1)},
    { title: "Worker", place: "Visscher Seafood", type: "Parttime", start: new Date(2015, 7), end: new Date(2019, 9)},
];
---

<section>
    <h3>EXPERIENCE</h3>
    <hr>
    {experiences.map((experience) => (
        <Experience title={experience.title} place={experience.place} type={experience.type} start={experience.start} end={experience.end} />
    ))}
</section>